* {
  transition: none;
  box-shadow: none;
  font-family: "NotoSans Nerd Font";
  font-size: 15px;
/*  color: #89CFF0;*/
  color: #ffffff;
}

#waybar {
/*  background: rgba(52,45,113,0.3);*/
  background-color: rgba(26, 27, 38, 0.5);
  border-radius: 20px;
  border: 2px solid #89CFF0;
}

#workspaces {
  margin: 0 2px;
  color: transparent;
  background-color: rgba(61, 137, 201, 0.4);
  border-radius: 20px;
}

#workspaces button {
  margin: 2px 0px 2px 0px;
  padding: 0 4px;
  border-radius: 20px;
}

#workspaces button.active{
  background-color: #3d89c9;
}

#workspaces button.visible {
}

#workspaces button.focused {
  background-color: rgba(0,0,0,0.4);
}

#workspaces button.urgent {
}

#workspaces button.urgent * {
  color: #91231c;
}


#tray {
  margin: 2px 4px 2px 3px;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpd, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 20px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#mpd *{
  min-width: 10px;
  font-size: 11px;
  font-family: JetBrainsMono;
}

#custom-power{
  margin: 2px 0px 2px 0px;
  padding: 0 6px;
  background-color: #3d89c9;
  border-radius: 20px;
  min-width: 15px;
}

#custom-recorder, #custom-audiorec {
  margin: 4px 2px;
  padding: 0 6px;
  background-color: rgba(175,65,84,0.8);
}

#custom-media{
  background-color: rgba(61, 137, 201, 0.4);
  border-radius: 20px;
  margin: 1px 0px 1px 5px;
  padding: 0px 0px 0px 7px;
}

#custom-launcher{
  margin: 4px 1px 4px 5px;
  padding: 0 6px;
  background-color: #722F37;
  border-radius: 10px;
  min-width: 15px;
}

#temperature.critical {
  color: #800020;
}
