* {
  font-family: "NotoSans Nerd Font";
  background-image: none;
  transition: 20ms;
}

window {
  background-color: rgba(46, 52, 64, 0.9);
}

button {
  color: #eceff4;
  font-size: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;

  border-radius: 15px;
  background-color: rgba(59, 66, 82, 1);
  border: 3px solid rgba(59, 66, 82, 1);

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba (0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  background-color: rgba(76, 86, 106, 1);
  border: 3px solid #88c0d0;
}

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}
#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}
#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}
#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}
#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}
#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}
